.main-nav {
    margin:0;
    background-color: #fff;
    box-shadow: 0 5px 25px 3px #efefef;
    .brand {
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        color: $color-primary;
        letter-spacing: 2px;

    }
    ul {
        list-style: none;
        display: inline-block;

        li {
            display:  inline-block;
            a {
                display: inline-block;
                padding: 20px;
                text-transform: uppercase;
                text-decoration: none;
                transition: all .25s ease-in-out;
                border-bottom: 2px solid transparent;
                &:visited, &:active,&:link {
                    color: #535353;
                    font-weight: 400;
                }
                &:hover, &.active {
                    // background-color: lighten($color-primary,25%);
                    border-bottom: 2px solid lighten($color-primary,25%);
                    color: darken($color-primary, 5%);
                }
            }
        }
    }
}